.cart {position: relative; margin-left: 20px;}
.cart .number-notif{position: absolute; width: 15px; height: 15px; display: flex; align-items: center; justify-content: center; background-color: red; border-radius: 50px; color: #fff; font-size: 0.5em; top: -7.5px; right: -7.5px;}

.listContainer{display: flex; justify-content: center; align-items: center; height: 80vh;}

.btn a {color: #fff; text-decoration: none;}
.btn a:hover {color: #fff;}

.itemCount i {cursor: pointer;}