@import url(https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@0,100;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,700;1,800;1,900&display=swap);

*{font-family: 'Alegreya Sans', sans-serif;}
a{text-decoration: none !important; color: black !important;}
.highlight {color: #FFC107;}

p {margin-bottom: 0;}

.cart {position: relative; margin-left: 20px;}
.cart .number-notif{position: absolute; width: 15px; height: 15px; display: flex; align-items: center; justify-content: center; background-color: red; border-radius: 50px; color: #fff; font-size: 0.5em; top: -7.5px; right: -7.5px;}

.card {border-radius: 15px !important;}
.card-title {text-transform: capitalize;}

.listContainer{display: flex; justify-content: center; align-items: center; height: 80vh;}

.btn{background-color: #212121 !important; border-color: #212121 !important; transition: 0.2s; }
.btn.item-btn {border-color: #FFC107 !important;}
.btn a {color: #fff; text-decoration: none; text-transform: uppercase;}
.btn:hover{background-color: #FFC107 !important; border-color: #FFC107 !important; transition: 0.2s;}
.btn:hover a {color: #fff;}

.itemCount i {cursor: pointer;}

.bi-x-circle-fill {font-size: 2rem; cursor: pointer; transition: 0.2s;}
.bi-x-circle-fill:hover{color: black !important; transition: 0.2s;}

.item-detail-carousel {border-radius: 50px;}

.hero{background-size: cover; background-position: center center;}

#itemlist, #cartlist{padding-top: 100px !important;}

.navbar{height: 80px;}
.navbar .dropdown-menu {padding: 0;}

.navbar .navbar-nav>a:hover, .navbar .nav-item:hover {background-color: #FFC107; transition: 0.2s;}

.navbar .navbar-nav>a:hover a, .navbar .nav-item:hover a{color: #fff !important;}
.navbar .nav-item:hover .dropdown-item a{color: black !important;}
.navbar .nav-item .dropdown-item:hover a{color: #fff !important; background-color: #FFC107; transition: 0.2s;}
.navbar .nav-item .dropdown-toggle {padding-right: 1.5rem!important; padding-left: 1.5rem!important; height: 100%; display: flex; align-items: center;}

